:root {
    --blanco: #FFF;
}

.descripcion {
    background-color: var(--blanco);
    margin: 5rem 0;
    height: auto;
    padding: 5rem;
}

.descripcion__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

@media (max-width: 1024px) {
    .descripcion__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.descripcion__title,
.descripcion__precio,
.descripcion__texto {
    margin: 0 0 2rem 0;
}

.descripcion__title {
    font-size: 5rem;
}

@media (max-width: 576px) {
    .descripcion__title {
        font-size: 3.4rem;
    }
}

.descripcion__precio {
    font-size: 3rem;
}

@media (max-width: 576px) {
    .descripcion__precio {
        font-size: 2.4rem;
    }
}

/* Listado Similares */
.similares__title {
    margin: 0 0 2rem 0;
}

.similares__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

@media (max-width: 1024px) {
    .similares__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 576px) {
    .similares__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

.similares__item {
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
}

.similares__img {
    object-fit: cover;
    height: 10rem;
    width: 100%;
    border-radius: 2rem;
}

@media (max-width: 576px) {
    .similares__img {
        height: auto;
    }
}

.similares__descripcion {
    height: 13rem;
}

.similares__nombre {
    margin: 1.2rem 0;
    font-size: 2.4rem;
}

.similares__precio {
    margin: 1.2rem 0;
    font-size: 2rem;
}
