/* === CUSTOM PROPERTIES === */
:root {
    --blanco: #FFF;
    --negro: #000;
    --grisOscuro: #464646;
    --grisClaro: #F5F5F5;
    --azulClaro: #EAF2FD;
    --azul: #2A7AE4;
    --openSans: 'Open Sans', sans-serif;
    --playfair: 'Playfair Display', serif;
}

/* === GLOBALES === */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 1.6rem;
    background-color: var(--grisClaro) ;
    color: var(--grisOscuro);
    font-family: var(--openSans);
    line-height: 1.5;
    font-weight: 500;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 144rem;
    width: 90%;
    margin: 0 auto;
}

.btn {
    max-width: 100%;
    width: 30rem;
    display: inline-block;
    background-color: var(--azul);
    color: var(--blanco);
    border: 3px solid var(--azul);
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
    }
}

.btn--login {
    background-color: var(--blanco);
    color: var(--azul);
    margin: 0;
}

.btn--modelo {
    width: 15rem;
}

@media (max-width: 576px) {
    .btn--modelo {
        width: 100%;
    }
}

.btn--entrar {
    width: 100%;
}

/* === HEADER === */
.cabecera {
    background-color: var(--blanco);
    padding: 3.2rem 0;
}

.cabecera__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

@media (max-width: 576px) {
    .cabecera__menu {
        flex-direction: column;
        gap: 2rem;
    }
}

.cabecera__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecera__icon {
    font-size: 5rem;
    color: var(--azul);
}

@media (max-width: 576px) {
    .cabecera__icon {
        font-size: 4rem;
    }
}

.cabecera__brand {
    font-family: var(--playfair);
    font-size: 3.5rem;
    margin: 0;
}

@media (max-width: 576px) {
    .cabecera__brand {
        font-size: 3.2rem;
    }
}

.cabecera__brand--azul {
    color: var(--azul);
}

.cabecera__buscar {
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--grisClaro);
    border: none;
    width: 50%;
    text-align: center;
}

@media (max-width: 576px) {
    .cabecera__buscar {
        width: 100%;
    }
}

/* === HERO === */
.hero {
    background-image: linear-gradient(rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.6)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 5rem 0;
}

@media (max-width: 768px) {
    .hero {
        background-position: left center;
    }
}

.hero__container {
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3.2rem 0;
}

@media (max-width: 768px) {
    .hero__container {
        min-height: 55rem;
    }
}

@media (max-width: 576px) {
    .hero__container {
        min-height: 40rem;
    }
}

.hero__header {
    font-family: var(--playfair);
    font-size: 5rem;
    color: var(--blanco);
}

@media (max-width: 768px) {
    .hero__header {
        font-size: 4rem;
    }
}

.hero__texto {
    font-size: 3rem;
    color: var(--blanco);
}

@media (max-width: 768px) {
    .hero__texto {
        font-size: 2.6rem;
    }
}

.hero__header,
.hero__texto {
    margin: 1rem 0
}

/* === CONTENIDO PRINCIPAL === */
.contenido-principal {
    padding-top: 5rem;
}

/* === POPULARES, ALTA GAMA, GAMA DE ENTRADA === */
.populares__heading,
.altaGama__heading,
.gamaE__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .populares__heading,
    .altaGama__heading,
    .gamaE__heading {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .populares__heading,
    .altaGama__heading,
    .gamaE__heading {
        font-size: 1.8rem;
    }
}

.populares__link,
.altaGama__link,
.gamaE__link {
    text-decoration: none;
    color: var(--negro);
}

.populares__link:hover,
.altaGama__link:hover,
.gamaE__link:hover {
    border-bottom: 3px solid var(--azul);
}

.populares,
.altaGama,
.gamaE {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 1024px) {
    .populares,
    .altaGama,
    .gamaE {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 576px) {
    .populares,
    .altaGama,
    .gamaE {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

.populares__item,
.altaGama__item,
.gamaE__item {
    height: 100%;
    width: 100%;
}

.populares__img,
.altaGama__img,
.gamaE__img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    border-radius: 2rem;
}

@media (max-width: 576px) {
    .populares__img,
    .altaGama__img,
    .gamaE__img {
        height: auto;
    }
}

/* @media (max-width: 1080px) {
    .populares__descripcion,
    .altaGama__descripcion,
    .gamaE__descripcion {
        height: 13rem;
    }
} */

.populares__nombre,
.altaGama__nombre,
.gamaE__nombre {
    margin: 1.2rem 0;
    font-size: 2.4rem;
    font-family: var(--playfair);
}

.populares__precio,
.altaGama__precio,
.gamaE__precio {
    margin: 1.2rem 0;
    font-size: 2rem;
    font-weight: normal;
}

/* === INFORMACIÓN === */
.informacion {
    background-color: var(--azulClaro);
    margin-top: 5rem;
    padding: 6.4rem 0;
}

@media (max-width: 768px) {
    .informacion {
        padding: 3.2rem 0;
    }
}

/* === INFORMACION === */
.informacion__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .informacion__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 37rem;
    }
}

@media (max-width: 576px) {
    .informacion__container {
        flex-wrap: nowrap;
        height: auto;
    }
}

.informacion__brand {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.informacion__enlaces {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.informacion__enlaces__link {
    color: var(--negro);
    text-decoration: none;
    font-size: 1.8rem;
}

.informacion__heading {
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-size: 2rem;
}

.informacion__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.informacion__form__input {
    display: inline-block;
    background-color: var(--blanco);
    border-radius: 0.4rem;
    height: 5.6rem;
    border: none;
    color: var(--grisOscuro);
    margin-bottom: 1rem;
}

/* === FOOTER === */
.footer {
    background-color: var(--blanco);
}

.footer__texto {
    margin: 0;
    padding: 2rem 0;
    font-size: 1.8rem;
    text-align: center;
}

@media (max-width: 576px) {
    .footer__texto {
        font-size: 1.6rem;
    }
}

.footer__link {
    text-decoration: none;
    color: var(--azul);
    font-weight: bold;
}
